/* banner start */

.blogs_banner {
  background: none;
}
.blogs_main {
  margin-top: 80px;
}
.blogs_banner ul li a {
  display: flex;
  flex-direction: column;
  font-size: var(--baseFont);
  gap: 16px;
  color: var(--paracolor);
  text-align: center;
}
.blogs_banner ul li a:hover {
  color: var(--headingcolor);
}
.blogs_main {
  display: flex;
  column-gap: 47.69px;
}
.blogs_left {
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  display: inline-flex;
  padding: 30px 22.621px 30px 22.621px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f0e9e1;
  overflow: hidden;
}
.blogs_left_item1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.blogs_left_heading h4 {
  max-width: 20ch;
  text-align: center;
  font-size: 26px;
  text-transform: capitalize;
}
.blogs_left_img {
  height: 0;
  width: 42%;
  position: relative;
  overflow: hidden;
  padding-top: 42%;
}
.blogs_left_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}
.blogs_left_para {
  display: flex;
  justify-content: center;
}
.blogs_left_para p {
  max-width: 18ch;
  color: #cf9e69;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 127.5%; /* 17.85px */
  text-transform: capitalize;
}
.blogs_left_item2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.blogs_left_item2 a {
  display: block;
  color: var(--paracolor);
}
.blogs_left_item3 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: var(--paracolor);
}
.blogs_left_item3 p {
  color: #cf9e69;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.95px;
  text-transform: uppercase;
}
.blogs_left_item3 ul {
  margin-top: 14px;
}

.blogs_left_item3 ul li:last-child a {
  display: block;
  color: #cf9e69;
}
.blogs_left_item3 ul li:last-child a img {
  width: auto;
  height: 11px;
  margin-left: 5px;
}
.blogs_left_item4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.blogs_left_item4 p {
  color: var(--headingcolor);
  font-size: 10px;
  line-height: 127%;
  letter-spacing: 1.596px;
  text-transform: uppercase;
  font-weight: 700;
}
.input_field input {
  width: 100%;
  border: none;
  outline: none;
  padding: 12.22px 12px;
  border-radius: 5px;
}
.input_field input::placeholder {
  color: var(--paracolor);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}
.blogs_left_item4 a {
  display: block;
  margin-top: 5px;
  width: 100%;
}
hr {
  color: #cf9e69;
  opacity: 0.8;
  margin: 0px;
  width: 90%;
}

.blogs_right {
  width: 75%;
  /* border: 1px solid rgb(67, 11, 187); */
}
.blogs_right_btm {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  /* gap: 36px; */
  /* border: 1px solid red; */
}
.blogs_page {
  margin-top: 0px;
}
.blogs_right_btm_item1 {
  display: flex;
  gap: 100px;
}
.topics_left_top_date p {
  color: var(--paracolor);
  font-size: 12px;
  font-weight: 700;
  line-height: 126.5%;
  letter-spacing: 1.596px;
  text-transform: uppercase;
}
.topics_left_heading {
  margin-top: 14px;
}
.topics_left_heading h4 {
  font-size: 26px;
  text-transform: capitalize;
}
.topics_left_para {
  margin-top: 24px;
}
.topics_left_para p {
  color: var(--paracolor);
}
.blogs_right_btm hr {
  width: 100%;
  margin: 36px 0px;
}
.blogs_right_btm hr:last-child {
  margin: 36px 0px 0px 0px;
}
.topics_left {
  width: 100%;
}
.topics_right {
  width: 20%;
}
.blogs_right_icon_list a {
  height: 32px;
  width: 32px;
  background-color: #cf9e69;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease all;
}
.blogs_right_icon_list li a svg {
  transition: none !important;
}
.blogs_right_icon_list li:hover a svg {
  transform: scale(1) !important;
  color: #fff !important;
}
.blogs_right_icon_list li:hover a {
  background-color: #49378d;
}
.blogs_label {
  color: #6b6970;
  font-family: var(--bodyFont);
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}

/* Blogs-all-topic start*/

.blogs_alltpoic_right_btm {
  gap: 52px;
  /* border: 1px solid red; */
}
.batrb_item_btm {
  margin-top: 32px;
}
.batrb_item_top p {
  margin: 0px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  color: var(--headingcolor);
}
.batrb_item_btm_list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 80px;
}
.batrb_item_btm_list ul li a {
  font-weight: 400;
  line-height: 150%;
  text-align: start;
}
/* blogs-all-topic ends */

/* Banner ends */

/* connect section start */
.connect_section {
  background-color: #faf7f5;
  padding: 34.5px 0px;
}
.connect_main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.connect_text p {
  color: #cf9e69;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1.615px;
  text-transform: uppercase;
}
.connect_icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 44px;
  text-align: center;
  margin-top: 39px;
}
.connect_item1 {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
.connect_item1 img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
.connect_item p {
  line-height: 120%;
  color: var(--headingcolor);
  margin-top: 14px;
}

/* modal start*/
.modal_item1 {
  width: 50px;
  height: 50px;
  position: relative;
  padding-top: 0px !important;
}
.modal_item1 img {
  height: auto;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: contain;
  max-height: 100%;
  aspect-ratio: 1/1;
}
/* modal ends */
/* connect section ends */

/* Bhkati-Topic Page CSS Start */

.bhakti_topic_header {
  padding: 44.5px 0px !important;
}
.spacer_40 {
  padding: 40px 0px;
}
.bhakti_topic_img_item {
  grid-row-gap: 32px !important;
}
.bhakti_topic_img_all_album {
  margin-top: 0px !important;
  grid-column-gap: 28px !important;
  grid-row-gap: 32px !important;
}
/* Bhkati-Topic Page CSS Ends */

/* Bhakti main start */
.bhakti_main_more_topic {
  padding-bottom: 120px !important;
}
/* Bhakti Main ends */

/* Talks Series Start */
.talks_banner_inner_main {
  width: 83%;
  margin: 0 auto;
}
.tbop_inner {
  height: 0;
  width: 100%;
  padding-top: 36%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.tbop_inner img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  inset: 0;
}
.talks_banner {
  margin-top: 40px;
}
.tb_btm {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
.tbbtm_left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tbbtm_left p {
  color: var(--paracolor);
}
.tbbtm_right {
  min-width: 260px;
}

.tbbtm_right .custom-btn {
  display: block;
}
.tbbtmr_btn2 {
  margin-top: 9px;
}
.tbbtmr_btn2 a {
  border-radius: 5px;
  color: #49378d;
  border: 1px solid var(--srm-purple, #49378d);
}
.tbbtmr_btn2 a:hover {
  color: #fff;
}
.talks_right_btm {
  margin-top: 0px !important;
}
.talks_series_heading {
  margin-top: 12px;
}
.talks_series_heading h5 {
  text-transform: capitalize;
}
.talks_date p {
  color: var(--srm-pink, #b7557f);
  font-family: var(--bodyFont);
}
.talks_series_topic_left {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-top: 16px;
}
.talks_series_btm_item1 {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
}

/* Talks Series Ends */

/* media query */

/* 1150 start */

@media screen and (max-width: 1150px) {
  .batrb_item_btm_list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 80px;
  }
}
/* 1150 ends */

/* 992  start */

@media screen and (max-width: 992px) {
  .album_heading h1 {
    font-size: 32px;
  }
  .topics_left_heading h4 {
    font-size: 20px;
  }
  .blogs_left_heading h4 {
    font-size: 20px;
  }
  .blogs_right_btm_item1 {
    flex-direction: column;
    gap: 30px;
  }
  .topics_left,
  .topics_right {
    width: 100%;
  }
  .topics_icon_wrapper {
    border: none !important;
    padding: 0px !important;
  }
  .blogs_social_icon {
    align-items: flex-start;
  }
  .batrb_item_btm {
    gap: 45px;
  }
  .batrb_item_top p {
    font-size: 16px;
  }
  /* Bhakti Topic Page */
  .bhakti_topic_header {
    padding: 30px 0px !important;
  }
  .bhakti_topic_related h4 {
    font-size: 30px !important;
  }
  .spacer_40 {
    padding: 30px 0px;
  }
  .bhakti_main_more_topic {
    padding-bottom: 80px !important;
  }

  /*Talks Series start */
  .talks_banner {
    margin-top: 30px;
  }
  .talks_banner_inner_main {
    width: 100%;
  }
  .tbop_inner {
    border-radius: 10px;
  }
  .tb_btm {
    margin-top: 40px;
    flex-direction: column;
  }
  .tbbtm_left {
    width: 100%;
  }
  .tbbtm_right {
    margin-top: 20px;
    display: flex;
  }
  .tbbtmr_btn2,
  .tbbtmr_btn1 {
    max-width: 260px;
  }
  .tbbtmr_btn2 {
    margin: 0px 0px 0px 9px;
  }
  .talks_series_right {
    width: auto !important;
  }
  .talks_series_social_icon {
    align-items: flex-end !important;
  }
  .tbbtm_left {
    gap: 6px;
  }
  .talks_series_heading {
    margin-top: 10px;
  }
  .talks_series_topic_left {
    margin-top: 12px;
  }
  /* Talks Series Ends */
}

/* 992 ends */

/* 900 px start */
@media screen and (max-width: 900px) {
  /* .batrb_item_btm{
    gap:28px;
  } */
  .batrb_item_btm_list ul {
    grid-column-gap: 50px;
  }
}
/* 900 px ends */

/* 767 start */

@media screen and (max-width: 767px) {
  .album_heading h1 {
    font-size: 30px;
  }
  .topics_left_heading h4 {
    font-size: 18px;
  }
  .blogs_banner ul li a {
    margin-bottom: 5px;
  }
  .blogs_main {
    flex-direction: column;
    margin-top: 30px;
  }
  .blogs_left {
    width: 100%;
    gap: 15px;
  }
  .blogs_left hr {
    width: 100%;
  }
  .blogs_left hr:last-child {
    display: none;
  }
  .blogs_left_item2 ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
  }
  .blogs_left_item2 ul li {
    min-width: 206px;
  }
  .blogs_left_item3 {
    text-align: start;
  }
  .blogs_left_item3 ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
    overflow-x: scroll;
  }
  .blogs_left_item3 ul li a {
    border-radius: 21px;
    border: 1px solid #e3ad64;
    display: inline-flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    min-width: 150px;
  }
  .blogs_left_item3 ul li a {
    margin-bottom: 10px;
  }
  .topics_left_para {
    margin-top: 15px;
  }
  .blogs_left_item4,
  .blogs_left_item5 {
    display: none;
  }
  .blogs_right {
    width: 100%;
  }
  .blogs_topic_right {
    margin-top: 30px;
  }
  .blogs_right_all_topic {
    margin-top: 25px;
  }
  .blogs_right_btm {
    margin-top: 25px;
  }

  .blogs_right_btm_item1 {
    gap: 15px;
  }
  .blogs_right_btm hr {
    margin: 20px 0px;
  }
  .blogs_right_btm hr:last-child {
    margin: 15px 0px 0px 0px;
  }

  .third_hr {
    display: none;
  }
  .blogs_alltpoic_right_btm {
    margin-top: 10px !important;
    gap: 14px;
  }
  .batrb_item_btm {
    margin-top: 5px;
  }
  /* .batrb_item_btm {
    margin-top: 5px;
    justify-content: space-between;
  }
   */
  /* Bhkati Topic start*/
  .spacer_40 {
    padding: 20px 0px;
  }
  .bhakti_main_more_topic {
    padding-bottom: 60px !important;
  }
  /* Bhakti topic ends */

  /* Talks series start */
  .tb_btm {
    margin-top: 25px;
  }
  /* talks series ends */
}

/* 700 px start */

@media screen and (max-width: 700px) {
  /* Talks series start */

  /* talks series ends */
}

/* 700 ps ends */

/* 600 px start */
@media screen and (max-width: 600px) {
  /* talks series start */
  .talks_series_btm_item1 {
    flex-direction: column !important;
  }
  .talks_series_social_icon {
    align-items: flex-start !important;
  }
  /* talks series ends */

  /* modal css starts*/
  .modal.show .modal-dialog {
    padding: 20px !important;
  }
  /* modal css ends */
}
/* 600 px ends */

/* 550 px start */
@media screen and (max-width: 550px) {
  /* Bhkati Topic Page */
  .bhakti_topic_related h4 {
    font-size: 20px !important;
  }

  /* talks series */
  .tbbtm_right {
    flex-direction: column;
  }
  .tbbtmr_btn2 {
    margin: 9px 0px 0px;
  }
  /* talks series */
}

/* 550 px ends */

/* 500 px start */

@media screen and (max-width: 500px) {
  .connect_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 25px;
  }
  .connect_item {
    width: calc(30% - 5px);
    margin-bottom: 20px;
  }
  .connect_item1 {
    width: 60%;
    height: 0;
    padding-top: 60%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
  .modal_item1 {
    width: 50px;
    height: 50px;
    position: relative;
    padding-top: 0px !important;
  }
  .modal_icons {
    grid-column-gap: 50px !important;
  }
  .modal_item {
    width: 20% !important;
  }
  .batrb_item_btm_list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
  }
  .batrb_item_btm_list ul {
    grid-column-gap: 50px;
  }
}

/* 500 px ends */

/* 400 px start */

@media screen and (max-width: 400px) {
  .connect_icons {
    column-gap: 70px;
  }
}

/* 400 px ends */
