/* Upcoming Event Page CSS start */
.upcoming-bg {
  background: linear-gradient(260deg, #fff 1.16%, #f9f6f3 95.93%);
}
.upcoming-bg .cbm_heading {
  margin: 0px;
}
.upcoming-bg .course_banner_main {
  padding: 50px 0 60px;
}
.upcoming-bg .wisdom-bottom-header-box {
  background: transparent;
}
.upcoming-bg .wisdom-bottom-content p {
  color: #443287;
}
.upcoming-bg .wisdom-bottom-link:after {
  background-color: #443287;
}
.featured-event-wrapper {
  margin-top: 40px;
}
.featured-event-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.featured-event-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-event-img {
  position: relative;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  padding-top: 60%;
}
.featured-event-img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.25) 100%
  );
  z-index: 1;
}
.featured-event-box .featured-content {
  padding-top: 24px;
}
.featured-event-box .featured-title {
  margin-top: 12px;
}
.featured-event-box .featured-episode {
  padding-top: 0px;
}
.featured-event-box .featured-episode h6 {
  color: #b7557f;
  text-transform: uppercase;
  font-family: var(--bodyFont);
  font-size: 12px;
  font-weight: 700;
  line-height: 126.5%;
  letter-spacing: 1.596px;
  text-transform: uppercase;
}
.featured-event-box .featured-title {
  margin-top: 8px;
}
.featured-event-section .featured-event-wrapper .featured-event-box {
  transition: 0.4s ease all;
}
.featured-event-section .featured-event-wrapper .featured-event-box:hover {
  /* transition: .4s ease all; */
  transform:translateY(-10px);
}
.all-event-wrapper {
  margin-top: 50px;
}
.all-event-flex {
  display: flex;
  width: 100%;
  gap: 40px;
}
.all-event-filter-box {
  width: 25%;
}
.all-event-box-wrapper {
  width: 75%;
}
.event-heading {
  color: #1c1c1c;
  font-family: var(--headingfont);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 127.5%;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.event-radio input[type="checkbox"],
.event-radio input[type="radio"] {
  display: inline-block;
  opacity: 0;
  vertical-align: middle;
}
.event-radio input[type="checkbox"],
.event-radio input[type="radio"],
.event-radio label::before {
  cursor: pointer;
  height: 22px;
  left: 0;
  margin-top: -10px;
  position: absolute;
  width: 22px;
  top: 50%;
}

.event-radio input[type="radio"]:checked + label::before {
  background-color: #cf9e69;
  box-shadow: inset 0 0 0 4px #fff;
}

.event-radio input[type="checkbox"]:checked + label::before {
  background-color: #cf9e69;
  box-shadow: inset 0 0 0 4px #fff;
}

.event-radio input[type="radio"] + label::before {
  border-radius: 50%;
}
.event-radio input[type="checkbox"] + label::before {
  border-radius: 50%;
}
.event-radio label::before {
  border: 1px solid #cf9e69;
  border-radius: 50%;
  color: #cf9e69;
  content: "";
  font-size: 1.5em;
  padding: 0.1em 0 0 0.2em;
}
.event-radio {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}
.event-radio label {
  margin-left: 30px;
  color: #1c1c1c;
  font-family: var(--headingfont);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
}
.all-event-box {
  border-radius: 5.209px;
  border-bottom: 1.059px solid #fcdfb7;
  background: #fdfdfd;
  box-shadow: 0px 0px 19.06629px 0px rgba(71, 69, 65, 0.11);
  display: inline-flex;
  padding: 22px 50px 22px 60px;
  gap: 60px;
  align-items: center;
  width: 100%;
  transition: .5s ease all;
}
.all-event-box:hover{
  border-radius: 5.209px;
  border-bottom: 1.059px solid #FCDFB7;
  background: #F8F1E9;
  box-shadow: 0px 0px 20px 0px rgba(211, 140, 44, 0.52);
}
.all-event-box .all-event-date{
  width: 30%;
}
.all-event-box  .event-info{
  width: 70%;
}
.ae-date {
  color: #d38c2c;
  font-family: var(--headingfont);
  font-size: 47.461px;
  font-style: normal;
  font-weight: 400;
  line-height: 127.5%;
  text-transform: capitalize;
  text-align: center;
}
.ae-month {
  color: #222;
  font-family: var(--headingfont);
  font-size: 19.775px;
  font-style: normal;
  font-weight: 400;
  line-height: 127.5%;
  text-transform: capitalize;
  text-align: center;
}
.ae-day {
  color: #8b8b8b;
  text-align: center;
  font-family: Source Serif 4;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
}
.event-location {
  margin-top: 10px;
}
.event-location p {
  color: #222;
}
.event-name h5 {
  color: #222;
  text-transform: capitalize;
}
.event-date {
  margin-top: 6px;
}
.event-date p {
  color: #8b8b8b;
  font-weight: 700;
}
.event-registration {
  margin-top: 20px;
}
.registration-tag {
  border-radius: 12.638px;
  background: #c6efcd;
  display: inline-flex;
  padding: 6px 19px 6px 20px;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.all-event-box-list {
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.all-event-box-list a{
  width: 100%;
}
.event-checkbx-wrapper {
  margin-top: 30px;
}
.event-checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.event-accordian-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #c2c2c2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
}
.event-accordian-content {
  margin-top: 20px;
}
.event-country-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
}
.event-accordian-header h5 {
  color: #000;
}
.event-country-content {
  margin-top: 30px;
}
.event-accordian-content {
  overflow: hidden;
  transition: 0.4s ease all;
  /* height:0px */
}
.event-filter-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}
.event-filter-btn .wisdom-bottom-link-filter {
  text-align: center;
  font-family: var(--bodyFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 127.5%;
  color: #443287;
  text-transform: uppercase;
  position: relative;
}
.event-filter-btn .wisdom-bottom-link-filter:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #443287;
  bottom: 0px;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.6s;
  left: 0px;
  z-index: 1;
}
.wisdom-bottom-link-filter:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--srmorange);
  left: 0;
  bottom: 0px;
  right: 0px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s;
  z-index: 2;
}
.wisdom-bottom-link-filter:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
span.event-accordian-span svg {
  transition: 0.6s ease all;
}
.event-accordian-header.active span.event-accordian-span svg {
  transform: rotate(180deg);
}
.event-accordian-header {
  cursor: pointer;
}
.all-event-btn {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
.all-event-btn a{
  color: #b7557f;
  font-weight: 600;
}
a.event-load-more {
  color: var(--srm-pink, #b7557f);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.witness-layout-new .witness-info-box {
  width: 100%;
}
.witness-layout-new .about-witness-img-box {
  border-radius: 10px;
}
.witness-layout-new .about-witness-box {
  left: 0;
  margin: 0 auto;
  bottom: -60px;
  z-index: 98;
  width: 50%;
}
.event-icon {
  display: none;
}
.close-btn {
  display: none;
}
section.witness-section.witness-layout-new {
  position: relative;
  padding-bottom: 400px;
}
section.witness-section.witness-layout-new:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  background-image: url(../img/event-layout-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: -60px;
  z-index: -1;
  background-position: bottom;
}

.all-event-section .all-event-box-wrapper .all-event-box{
     width: 70%;
}
/* Upcoming Event Page CSS End */

/* Upcoming Event Inner Page CSS start */
section.upcoming-event-banner {
  padding-top: 100px;
}
.upcoming-event-inner-wrapper {
  margin-top: 90px;
}
.upcoming-event-inner-flex {
  display: flex;
  justify-content: space-between;
}
.upcoming-event-inner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 60%;
}
.upcoming-event-inner-tags {
  display: flex;
  gap: 8px;
}
.upcoming-event-tag {
  border-radius: 2px;
  background: #f4f4f4;
  padding: 5px 8px;
  color: #555;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.upcoming-event-inner-title {
  margin-top: 16px;
}
.upcoming-event-inner-title h1 {
  max-width: 34ch;
  color: #333;
}
.upcoming-event-inner-para {
  margin-top: 20px;
}
.upcoming-event-inner-para p {
  color: #000;
}
.upcoming-event-inner-image {
  width: 40%;
}
.upcoming-event-img-box {
  position: relative;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  padding-top: 60%;
}
.upcoming-event-img-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  left: 0;
}
.upcoming-event-btn {
  display: flex;
}
.upcoming-event-btn .custom-btn.purple {
  padding-left: 150px;
  padding-right: 150px;
}
.upcoming-event-info-flex {
  display: flex;
  justify-content: space-between;
  /* gap: 80px; */
  align-items: start;
}
.upcoming-event-info-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.upcoming-event-content-box {
  width: 40%;
  border-radius: 16px;
  background: var(--SRM, #f5eada);
  padding: 40px 24px 65px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.upcoming-event-tag.white {
  background: #fff;
}
.upcoming-event-info {
  max-width: 80ch;
}
.upcomig-info-para {
  margin-top: 10px;
}
.upcoming-info-title h3 {
  color: #333;
  text-transform: capitalize;
}
.upcomig-info-para p {
  color: var(--srm-grey, #6b6970);
}
.upcoming-num-list {
  padding-left: 5px;
  margin-top: 10px;
  position: relative;
  counter-reset: listitem;
}
.upcoming-num-list li:before {
  counter-increment: listitem;
  content: counters(listitem, ".") ".";
}
.upcoming-num-list li {
  color: var(--srm-grey, #6b6970);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
ul.upcoming-num-list.dot li {
  padding-left: 10px;
}
ul.upcoming-num-list.dot li:before {
  content: "\2022";
  color: #6b6970;
  position: absolute;
  left: 0;
  font-weight: bold;
}
.upcoming-event-content-title {
  margin-top: 16px;
}
.upcoming-event-content-para {
  margin-top: 40px;
}
.upcoming-event-content-para {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.upcoming-event-content-title h3 {
  color: #333;
  text-transform: capitalize;
}
.upcoming-event-para-bold p {
  color: var(--srm-black, #25232b);
  font-weight: 600;
}
.upcoming-event-para-normal p {
  color: var(--srm-grey, #6b6970);
  max-width: 50ch;
}
.upcoming-event-direction-btn .wisdom-direction-link {
  font-weight: 600;
  transition: 0.5s ease all;
  position: relative;
  text-align: center;
  font-family: var(--bodyFont);
  font-size: 16px;
  font-style: normal;
  line-height: 127.5%;
  color: #49378d;
  transition: 0.4s ease all;
}
.upcoming-event-direction-btn .wisdom-direction-link:hover {
  color: var(--srmorange);
}
.upcoming-event-direction-btn .wisdom-direction-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--srmorange);
  left: 0;
  bottom: 0px;
  right: 0px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s;
  z-index: 2;
}
.upcoming-event-direction-btn .wisdom-direction-link:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #49378d;
  bottom: 0px;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.6s;
  left: 0px;
  z-index: 1;
}
.upcoming-event-direction-btn .wisdom-direction-link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.upcoming-register-buttons {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.upcoming-register-buttons .custom-btn {
  display: block;
  width: 100%;
}
a.not-signed-link {
  color: var(--srm-pink, #b7557f);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  font-family: var(--bodyFont);
}

/* updated css */
.past-event-section-splide {
  padding-bottom: 56px;
}
.past-event-section-splide .splide__pagination .splide__pagination__page {
  border-radius: 42px;
  background: var(--SRM-Orange, #cf9e69);
  transform: scale(1);
  width: 40px;
  opacity: 0.5;
}
.past-event-section-splide
  .splide__pagination
  .splide__pagination__page.is-active {
  opacity: 1;
}
.past-event-section-splide .splide__arrows {
  display: none;
}


.modal4 .modal4_password svg{
  height: 20px;
  width: 20px;
  cursor: pointer;
  position: relative;
}
.modal4 .modal4_password .tooltip_text{
  visibility: hidden;
  /* width: 120px; */
  /* background: linear-gradient( 180deg, rgba(78, 62, 136, 0.2) 67.02%, rgba(0, 0, 0, 0.2) 97.11% ), linear-gradient( 180deg, rgba(92, 69, 183, 0.2) 0%, rgba(27, 16, 64, 0.2) 20.04% ), linear-gradient(180deg, #49378d 0%, #3d2c7d 50%, #49378d 100%); */
  background: var(--SRM, #f5eada);
  color: #000;
  font-weight: 500;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  transition: visibility 0.3s;
  max-height: 80px;
  overflow: auto;
  top:30px;
}
.modal4 .modal4_password svg:hover + .tooltip_text {
         visibility: visible;
}
.modal4 .modal4_password .tooltip_text:hover{
  visibility:visible;
}
.account_text{
  text-align: center;
  margin-top: 20px;
}
.account_text a{
  color:var(--srmorange);
}
.account_text p{
  text-transform: uppercase;
  color: #FFF;
  font-weight:400;
}
.account_text span{
  margin-left: 5px;
}
.guest_password {
  display: flex;
  align-items: center;
  gap:4px;
  position: relative;
}
.forgot_passowrd a{
  color: var(--srmorange);
  text-transform: capitalize;
}
.modal2 .fsmnn_input,
.modal3 .fsmnn_input,
.modal4 .fsmnn_input,
.modal5 .fsmnn_input
{
  width: 100%;
  position: relative;
}
#signupPopup .login-modal-dialog .modal-body,
#signinPopup .login-modal-dialog .modal-body,
#loginguest .login-modal-dialog .modal-body{
  margin-top: 0px;
}
/* .input_wrapper{
  height: 70px;
} */
.input_wrapper label{
  color: red;
  font-weight: 400;
  margin-top: 5px;
  /* position: absolute;
  left:0px;
  top:60px; */
}

.captchavalidationdiv
{
  display: flex;
  justify-content: center;
}
.guest_login_wrapper{
  display: flex;
  gap:50px;
  margin-top: 20px;
  justify-content: center;
}
.guest_login_wrapper a{
 text-transform: capitalize;
 font-weight: 500;
 color: var(--srmorange);
 font-size: 20px;
}

/* Upcoming Event Inner Page CSS End */

/* Additional Upcoming Event  Start */
.aue-wrapper {
  width: 90%;
}
.heading-wrap.flex-box.space-between {
  justify-content: space-between;
}
.aue-grid-wrapper {
  margin-top: 45px;
}
.aue-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 50px;
}
.aue-grid .all-event-box {
  display: flex;
}
.past-event-slider-wrapper .newsest-img {
  padding-top: 100%;
}
.past-event-slider-wrapper {
  margin-top: 36px;
}
.past-event-slider-wrapper .featured-title h5 {
  color: #333;
  text-transform: capitalize;
  transition: 0.5s ease all;
}
.past-event-slider-wrapper .newest-talks-box:hover .featured-title h5 {
  color: var(--srmpurple) !important;
}
span.swiper-pagination-bullet {
  transform: scale(1) !important;
  left: 0px !important;
}
.swiper.past-event-slider {
  padding-bottom: 50px;
}
section.by_sriguru.testimonaial-sriguru-section
  .feat-testimonial-title.bsgi_heading {
  max-width: 130ch;
  text-align: center;
}
.testimonaial-sriguru-section {
  padding-bottom: 240px;
  position: relative;
  overflow: hidden;
}
.testimonaial-sriguru-section:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-image: url(../img/testimonail-overlay.png);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: -110px;
  z-index: -1;
  background-position: bottom;
}
.swiper.past-event-extra-slider {
  padding-bottom: 60px;
}

.marquee_section .splide-images{
  position: relative;
  height: 0;
  padding-top: 64%;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}
.marquee_section .splide-images img{
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.userDetails .modal-body{
  margin-top: 40px;
}
.userDetails .modal-body .fsmt_name{
   display: flex;
   flex-direction: column;
   gap:10px;
}
.userDetails .modal-body .fsmt_name .fsmnn_input
{
  background: #FFF;
}
.userDetails .modal-body .fsmt_name input{
  border: none;
}
.userDetails .modal-body .fsmt_name .fsmnn,
.userDetails .modal-body .fsmt_name .fsmn_email{
  width: 100%;
  display: flex;
}
.userDetails .modal-body .fsmt_name .fsmnn_text,
.userDetails .modal-body .fsmt_name .fsmne_text{
  color: #FFF;
}
.userDetails .modal-body .submit_btn{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


/* Additional Upcoming Event  End */

/* Login Modal CSS start */
.login-modal-dialog {
  max-width: 460px;
}
.login-modal-dialog .modal-content {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(78, 62, 136, 0.2) 67.02%,
      rgba(0, 0, 0, 0.2) 97.11%
    ),
    linear-gradient(
      180deg,
      rgba(92, 69, 183, 0.2) 0%,
      rgba(27, 16, 64, 0.2) 20.04%
    ),
    linear-gradient(180deg, #49378d 0%, #3d2c7d 50%, #49378d 100%);
}
.login-modal-dialog .modal_cross_btn {
  padding: 8px;
  border-radius: 50%;
  background-color: #fff;
  /* margin-bottom: 26px; */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
.login-modal-dialog .modal-body {
  margin-top: 60px;
  padding: 0 0px 50px 0px !important;
}
.login-popup-box-btn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 50px 0px 50px !important;
}
.login-btn {
  border-radius: 5px;
  background: var(--SRM, #f5eada);
  text-align: center;
  padding: 5px 20px;
  color: var(--srm-purple, #49378d);
  text-align: center;
  font-family: var(--bodyFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.login-btn.nofill {
  background-color: transparent;
  border-color: #f5eada;
  color: #f5eada;
}
.login-popup-or {
  margin: 40px 20px;
  text-align: center;
  position: relative;
  color: #c4b8ef;
  font-feature-settings: "clig" off, "liga" off;
  /* font-family: Inter; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.login-popup-or::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #c4b8ef;
  left: 0;
  right: 0;
  top: 8px;
}
.login-popup-or span {
  padding: 0 24px;
  background-color: #3d2c78;
  z-index: 999;
  position: relative;
}
.login-enroll {
  text-align: center;
}
a.guest-login {
  color: var(--SRM, #f5eada);
  text-align: center;
  font-family: var(--bodyFont);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.guest-login span {
  margin-left: 8px;
}
/* Login Modal CSS End */

/* Past event page Start */
section.past-event-section {
  padding: 120px 0;
}
.banner-content-title h1 {
  color: #000;
  text-transform: capitalize;
}
.past-event-wrapper {
  margin-top: 80px;
}
.past-event-main-title {
  position: relative;
}
.past-event-main-title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #d9d9d9;
  top: 13px;
  z-index: 9;
}
.past-event-main-title h6 {
  color: #333;
  font-family: var(--bodyFont);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
  padding-right: 15px;
  background: #fff;
  position: relative;
  z-index: 10;
  display: inline-block;
}
.past-event-grid {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.past-event-img {
  position: relative;
  overflow: hidden;
  height: 0px;
  border-radius: 10px;
  padding-top: 60%;
}
.past-event-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.past-event-content {
  margin-top: 16px;
}
.past-event-date p {
  color: var(--srm-pink, #b7557f);
  font-family: var(--bodyFont);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 126.5%; /* 15.18px */
  letter-spacing: 1.596px;
  text-transform: uppercase;
}
.past-event-title {
  margin-top: 12px;
}
.past-event-city {
  margin-top: 6px;
}
.past-event-title h3 {
  color: #333;
  text-transform: capitalize;
  transition: 0.4s ease all;
}
.past-event-city h6 {
  color: var(--srm-purple, #49378d);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 127.5%; /* 15.3px */
  text-transform: capitalize;
}
.past-event-box {
  transition: 0.5s ease all;
}
.past-event-box:hover {
  transform: translateY(-10px);
}
.past-event-box:hover .past-event-title h3 {
  color: var(--srmpurple);
}
.past-event-box:hover .past-event-city p {
  color: var(--srmpurple);
}
.load-more-btn {
  color: var(--srm-pink, #b7557f);
  font-family: var(--bodyFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}
.load-more-btn span {
  margin-left: 8px;
}
.event-load-more-wrapper {
  text-align: center;
  margin-top: 65px;
}
.event-load-more-wrapper .load-more-btn:hover{
  color:#B7557F !important;
}
/* Past event page End */

/* Past event Inner Page CSS Start */
.past-event-inner-section {
  padding: 80px 0;
}
.glimpse-title {
  margin-top: 50px;
  text-align: center;
}
.glimpse-title h1 {
  color: var(--srm-black, #25232b);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}
.glimpse-title h1 span.text-orange {
  color: var(--srmorange);
}
.past-event-inner-wrapper {
  width: 85%;
  margin: 0 auto;
}
.glimpse-slider-wrapper {
  margin-top: 70px;
}
.glimpse-slder-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-right: 20px;
  position: relative;
}
.swiper.glimpseSlider-main {
  width: 100%;
  padding-right: 20px;
  position: relative;
  z-index: 100;
}
.swiper.glimpseSlider-thumb {
  display: flex;
  flex-direction: column;
  width: 13%;
  /* max-height: 600px; */
  position: absolute;
  right: 35px;
  height: 100%;
  z-index: 200;
}
.swiper.glimpseSlider-main .swiper-wrapper {
  width: 85%;
  overflow: hidden;
}
.swiper.glimpseSlider-main .swiper-slide {
  width: 100% !important;
  overflow: hidden;
}
.swiper.glimpseSlider-main .swiper-slide .glimpse-main-box {
  width: 100%;
}
.swiper.glimpseSlider-thumb .swiper-slide {
  height: auto !important;
}
.swiper.glimpseSlider-thumb .swiper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.glimpse-main-box {
  position: relative;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  padding-top: 80%;
}
.glimpse-main-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.swiper.glimpseSlider-thumb .swiper-slide .glimpse-thumb-box {
  position: relative;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  padding-top: 60%;
}
.swiper.glimpseSlider-thumb .swiper-slide .glimpse-thumb-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.glimpse-content-wrapper {
  margin-top: 76px;
}
.glimpse-content-title h3 {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  text-transform: capitalize;
}
.glimpse-content-img {
  margin-top: 45px;
}
.glimpse-content-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.glimpse-content-img {
  margin-top: 45px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 0;
  padding-top: 31%;
}
.glimpse-content-para p {
  color: var(--srm-grey, #6b6970);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.glimpse-content-para {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  /* gap: 36px; */
}
.glimpse-slder-box
  .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
  left: inherit;
  right: 0;
  width: 2px;
  height: 100%;
  margin: 0;
}
/* .splide__slide img {
  width: 100%;
  height: auto;
} */
#thumbnail-carousel .splide__slide {
  opacity: 0.6;
}

#thumbnail-carousel .splide__slide.is-active {
  opacity: 1;
}
.main {
  /* border: 1px solid red; */
  overflow: hidden;
  display: grid;
  grid-template-columns: 11fr 2fr;
  position: relative;
}
.main #main-carousel {
  width: 100%;
  /* height: 100%; */
}
.main #main-carousel .splide__track{
  height: 100%;
}
.main #main-carousel .splide__track .splide__slide{
  height: 100%;
}
.main #main-carousel .splide__track .splide__slide .splides_inner {
  position: relative;
  height: 0;
  padding-top: 69%;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.main #main-carousel .splide__track .splide__slide .splides_inner img{
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
#thumbnail-carousel {
  display: flex;
  gap:30px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#thumbnail-carousel .splide__list {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#thumbnail-carousel .splide__list  .splide__slide{
  border-radius: 10px;
  overflow: hidden;
}
.main #main-carousel .splide__arrow {
  display: none;
}
.main #thumbnail-carousel .my-slider-progress {
  background: #ccc;
  overflow: hidden;
  width: 5px; 
}

.main #thumbnail-carousel .my-slider-progress-bar {
  background: #CF9E69;
  transition: height 400ms ease; /* Use height instead of width for vertical progress */
  height: 0px; /* Initial height is 0, it will increase based on progress */
  width: 5px; /* Set the width of the progress bar */
}

#thumbnail-carousel .splide__list::-webkit-scrollbar {
  display: none;
}
#thumbnail-carousel .splide__arrows{
  display: none ;
}

.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active, 
.splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
 border: 2px solid var(--SRM-Orange, #CF9E69);
}


.past-event-section-splide .splide__slide .newest-talks-box:hover{
  transform: translateY(0px) !important;
}
/* Past event Inner Page CSS End */

/* Resposnive Screen */

 @media screen and (max-width:1100px) {
    .main{
      grid-template-columns: 9fr 2fr;
    }
 }


@media only screen and (max-width: 991px) {
  .witness-layout-new .witness-info-box .about-witness-img {
    display: block;
  }
  .witness-layout-new .about-witness-box {
    left: 0;
    margin: 0 auto;
    bottom: auto;
    z-index: 100;
    width: 100%;
  }
  .witness-layout-new .witness-info-box {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  section.witness-section.witness-layout-new:before {
    height: 20%;
    bottom: -30px;
  }
  section.witness-section.witness-layout-new {
    position: relative;
    padding-bottom: 300px;
  }
  .all-event-section .all-event-box-wrapper .all-event-box{
    width: 100%;
}
  .upcoming-event-inner-flex {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .upcoming-event-inner-wrapper {
    margin-top: 50px;
  }
  .upcoming-event-inner-content {
    width: 100%;
  }
  .upcoming-event-inner-image {
    width: 100%;
  }
  .spacer-120 {
    padding: 40px 0;
  }
  .upcoming-event-info-flex {
    flex-direction: column;
    gap: 30px;
  }
  .upcoming-event-info-box {
    width: 100%;
  }
  .upcoming-event-content-box {
    width: 100%;
  }
  .aue-grid {
    column-gap: 30px;
  }
  .aue-wrapper {
    width: 100%;
  }
  .aue-grid .all-event-box {
    padding: 22px 30px 22px 30px;
    gap: 30px;
  }
  .testimonaial-sriguru-section {
    padding-bottom: 200px;
  }
  .past-event-wrapper {
    margin-top: 50px;
  }
  section.past-event-section {
    padding: 100px 0;
  }
  .past-event-grid {
    margin-top: 28px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .past-event-title {
    margin-top: 8px;
  }
  .glimpse-content-wrapper {
    margin-top: 56px;
  }
  .glimpse-content-title h3 {
    font-size: 26px;
  }
  .glimpse-content-para {
    margin-top: 26px;
    gap: 30px;
  }
  .glimpse-title h1 {
    font-size: 32px;
  }
  .glimpse-slider-wrapper {
    margin-top: 50px;
  }

  /*carousel */
  .main  {
       grid-template-columns: 7fr 1.5fr;
  }
  .main #thumbnail-carousel {
    gap:16px;
  }
}
 

@media screen and (max-width:850px) {
    .main{
      grid-template-columns: 6fr 1.5fr;
    }
}


@media only screen and (max-width: 767px) {
  .all-event-flex {
    flex-direction: column;
  }
  .all-event-box-wrapper {
    width: 100%;
  }
  .all-event-box-list {
    display: flex;
  }
  .all-event-box {
    display: flex;
    width: 100%;
  }
  .all-event-filter-box {
    width: 100%;
  }
  .event-filter-form {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 0;
    transition: 0.5s;
    z-index: 999999;
    padding: 30px;
    padding-top: 100px;
  }
  .event-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  .event-icon img {
    width: 20px;
    height: 20px;
  }
  .event-icon .event-filter-title {
    font-size: var(--baseFont);
    font-weight: 400;
    margin: 0px;
    line-height: 150%;
    font-size: 16px;
    text-transform: capitalize;
  }
  form.event-filter-form.active {
    left: 0;
  }
  .close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .close-btn a {
    font-size: 50px;
  }
  .event-accordian-header {
    margin-right: 0px;
  }
  .event-country-header {
    margin-right: 0px;
  }
  .event-checkbox-container {
    gap: 10px;
  }
  .event-accordian-content {
    height: 0px;
  }
  .upcoming-bg .course_banner_main {
    padding: 30px 0 30px;
  }
  .course_banner_inner {
    row-gap: 10px;
  }
  section.witness-section.witness-layout-new:before {
    height: 16%;
    bottom: -20px;
  }
  section.witness-section.witness-layout-new {
    padding-bottom: 200px;
  }
  .spacer-120 {
    padding: 30px 0;
  }
  .aue-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .testimonaial-sriguru-section {
    padding-bottom: 130px;
  }
  .past-event-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .past-event-inner-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .glimpse-content-wrapper {
    margin-top: 36px;
  }
  .glimpse-content-title h3 {
    font-size: 22px;
  }
  .glimpse-content-para {
    margin-top: 22px;
    gap: 24px;
  }
  .glimpse-title h1 {
    font-size: 26px;
  }
  .glimpse-slider-wrapper {
    margin-top: 40px;
  }


}

@media screen and (max-width:650px) {
   .main{
    grid-template-columns: 5fr 1.5fr;
   }
}

@media only screen and (max-width: 500px) {
  .featured-event-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .all-event-box {
    padding: 22px 20px 22px 20px;
    gap: 20px;
  }
  .upcoming-event-btn .custom-btn.purple {
    padding-left: 60px;
    padding-right: 60px;
    display: block;
    width: 100%;
  }
}

@media screen and (max-width:400px) {
   .main{
    grid-template-columns: 4fr 1.5fr;
   }
}

@media only screen and (max-width: 375px) {
}
