/* 1500 px Start */
@media only screen and (max-width: 1500px) {


}
/* 1500 px End */


/* 1300 px Start */
@media only screen and (max-width: 1300px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 36px;
    }
    h2.font-48{
        font-size: 42px;
    }
    h3 {
        font-size: 26px;
    }
    h3.font-26{
        font-size: 24px;
    }

}
/* 1300 px End */



/* 1200 px Start */
@media only screen and (max-width: 1200px) {


}
/* 1200 px End */



/* 1024 px Start */
@media only screen and (max-width: 1024px) {


}
/* 1024 px End */



/* 991 px Start */
@media only screen and (max-width: 991px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 32px;
    }
    h2.font-48{
        font-size: 36px;
    }
    h3 {
        font-size: 22px;
    }
    h3.font-26{
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }
    .related_img_item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .related_img_item a{
        width: calc(30%);
        margin-bottom: 20px;
    }
    .album_text{
        margin-top: 40px;
    }

}
/* 991 px End */


/* 767 px Start */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 26px;
    }
    h2.font-48{
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h3.font-26{
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    .album_heading {
        margin-top: 25px;
    }
    .album_heading_btm{
        width: 100%;
    }
    .album_heading h1{
        text-align: start;
    }
    .album_name_main{
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
    }
    .album_text{
        margin-top: 15px;
    }
    .album_topic_covered {
        margin-top: 15px;
    }
    .album_img_top .album_name_img{
        width: 50%;
        padding-top: 50%;
    }  
    .album_img_top{
        flex-direction: column;
    }
   
    .album_name_heading {
        width: 100%;
        margin-top: 15px;
    }
    .album_heading_btm{
        margin-top: 10px;
        width: 100%;
    }
    .related_img_item{
        justify-content: start;
    }
   
}
/* 767 px End */

/* 650 px start */

@media screen and (max-width:650px) {
    .related_img_item a{
        width: calc(45%);
    }
}


/* 650 px end */


/* 500 px Start */
@media  screen and (max-width: 500px) {
    .related_img_item{
        align-items: start;
    }
    .related_img_icon_wrapper p{
        margin-top: 15px;
        font-size: 14px;
    }
    .album_img_top .album_name_img{
        width: 100%;
        padding-top: 100%;
    } 

}
/* 500 px End */


/* 350 px Start */
@media only screen and (max-width: 350px) {
    
    .related_img_item a{
        width: calc(100%);
    }

}
/* 350 px End */

