.login-modal {
    max-width: 415px;
}
.login-modal .modal-content {
    background-color: #FFFFFF;
    background-image: url(../img/modal-bg.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 0% 90%;
}
.login-modal .modal-header {
    position: relative;
    justify-content: center!important;
    position: relative;
    height: 35px;
    align-items: flex-end;
}
.login-modal .modal-header .modal_cross {
    position: absolute;
    top: 0px;
    right: 0px;
}
.select2-container {
    z-index: 99999;
}
.login-modal-body .lmb-top {
    margin-top: 40px;
}
.lmb-top .lmb-heading {
    text-align: center;
}
.lmb-top .lmb-heading h4 {
    font-size: 20px;
    font-weight: 400;
    color: #25232B;
    text-transform: capitalize;
}
.lmb-top .lmb-heading .confirm-code {
    margin-top: 12px;
}
.lmb-top .lmb-heading .confirm-code p {
    color: #a1927c;
    font-size: 12px;
}
.lmb-top .lmb-heading .confirm-code p a, .lmb-top .lmb-heading .confirm-code p span {
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #D29F5A;
    text-decoration: underline;
    cursor: pointer;
}
.lmb-top .lmb-form {
    margin-top: 30px;
}
.lmb-form .form-group {
    margin-top: 10px;
}
.lmb-form .form-group:first-child {
    margin-top: 0;
}
.lmb-form .form-group .form-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.lmb-form .form-group .form-row .form-item:last-child {
    width: calc(100% - 25%);
}
.lmb-form .form-group .form-row.equal .form-item {
    width: 50%;
}
.lmb-form .form-group .form-row.equal .form-item .select2 {
    width: 100%;
}
.lmb-form .form-group .form-row select,.lmb-form .form-group input, .lmb-form .form-group .form-row .selection {
    width: 100%;
    border: none;
    border-bottom: 1px solid #D29F5A;
    padding: 8px 10px;
    display: block;
    color: #7E715E;
    font-weight: 400;
    font-size: 15px;
}
.lmb-form .form-group input::placeholder, .lmb-form .form-group .selection::placeholder {
    color: #C5B59D;
}
.lmb-form .form-group input:focus {
    background-color: #FBF7F2;
}
.lmb-form .form-group .form-row .selection {
    padding: 6px 10px;
}
.select2-dropdown {
    background-color: #F9F1E6;
    border: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}
.select2-container--default .select2-selection--single {
    border: none;
    height: auto;
}
.select2-container.select2-container--open .select2-search.select2-search--dropdown {
    background-color: #F9F1E6;
    padding: 0px;
    border: none;
}
.select2-container.select2-container--open .select2-search.select2-search--dropdown input {
    border: none;
    height: 30px;
    background: transparent;
    border-bottom: 1px solid #D29F5A;
    display: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #7E715E;
}
.select2-results__option {
    color: #8E7D63;
    font-size: 14px;
    border-top: 1px solid #E7DCCD;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #DCBB97;
    color: #8E7D63;
}
.select2-container--default .select2-results__option--selected {
    background-color: #DCBB97;
    color: #8E7D63;
}
.lmb-form .form-button {
    margin: 20px 0 12px 0;
}
.lmb-form .form-button.extraspace {
    margin-top: 40px;
}
.lmb-form .form-button input, .lmb-form .form-button .submit-button {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.2px;
    background-color: #D29F5A;
    border-radius: 4px;
    transition: .3s ease all;
    border: none;
    border: 1px solid #D29F5A;
    cursor: pointer;
}
.lmb-form .form-button input:hover, .lmb-form .form-button .submit-button:hover {
    background-color: var(--srmpurple);
    border-color: var(--srmpurple);
}
.lmb-form .form-button .submit-button.disabled {
    background-color: #DCBB97;
/*    pointer-events: none;*/
}
.lmb-form .form-button .submit-button.disabled:hover {
    border-color: #DCBB97;
}
.lmb-bottom {
    margin-top: 30px;
    margin-bottom: 10px;
}
.lmb-bottom .lmb-bottom {
    position: relative;
}
.lmb-bottom .line {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    gap: 6px;
}
.lmb-bottom .line .lb {
    height: 1px;
    width: 100%;
    background-color: #E5D2BC;
}
.lmb-bottom .line .la {
    height: 1px;
    width: 100%;
    background-color: #E5D2BC;
}
.googlebutton {
    margin: 15px 0;
}
.googlebutton button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 38px;
    border: 1px solid #25232B;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: var(--bodyFont);
    transition: .3s ease all;
}
.googlebutton button:hover {
    background-color: #D29F5A;
    border-color: #D29F5A;
    color: #fff;
}
.lmb-bottom .assistance {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
}
.assistance p {
    color: #5E5D61;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.assistance > a {
    color: #5E5D61;
    letter-spacing: 0.5px;
    font-size: 14px;
    position: relative;
}
.assistance > a:after {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background-color: #5E5D61;
    left: 0;
}
.sm-logo {
    margin-left: 10px;
}
.lmb-signup p {
    text-align: center;
    font-size: 14px;
    color: #25232B;
}
.lmb-signup {
    margin-top: 30px;
}
.lmb-signup p span {
    color: #49378D;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
}
.lmb-signup p span::before {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background-color: #49378D;
    cursor: pointer;
}
.lmb-form .form-group .otp-inputs {
    display: flex;
    align-items: center;
    width: 65%;
    margin: 0 auto;
    gap: 10px;
}
.otp-inputs input {
    width: 100%;
    text-align: center;
    padding: 6px 2px;
}
.lmb-form .form-group .resend-code {
    margin-top: 20px;
    margin-bottom: 50px;
}
.resend-code p {
    text-align: center;
    font-size: 14px;
    color: #A1927C;
}
.resend-code.active p {
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #D29F5A;
    text-decoration: underline;
    cursor: pointer;
}
.lmb-form .form-group .otp-error {
    margin-top: 10px;
}
.otp-error p {
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #A61E1E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.otp-error p span {
    display: flex;
    align-items: center;
    padding-top: 2px;
}
.otp-error p span img {
    width: 16px;
}